.t0 {font-family:verdana;font-size:8pt;line-height:10pt}
.t1 {font-family:verdana;font-size:9pt;line-height:11pt}
.t2 {font-family:verdana;font-size:10pt;line-height:12pt}
a.normal {text-decoration:none}
a.normal:focus {color:#ffc040}
